
  <div class="row">
    <div class=" col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
      <div class="current-image">
        <%=image_tag(@landing_image.thumb, class:"edit-image" )%>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-xl-8">
      <div class="edit-form">
        <%=form_for @landing_image do |f|%>
          <div class="form-group">
            <%=f.text_field :header%>
          </div>
          
          <div class="form-group">
            <%=f.text_area :caption,:rows => "10"%>
          </div>
          
          <div class="form-group">
            <%=f.file_field :photo%>
          </div>

          <div class="form-group">
            <%=f.submit "Update",class:"edit-image-create-button btn btn-primary"%>
            <button type="button" class="btn btn-danger return-to-original" data-dismiss="modal">Discard</button>
          </div>
        <%end%>
      </div>
    </div>
  </div>
