<!--ADMIN LANDING IMAGES UPDATE/EDIT MODAL-->
<div class="modal fade" id="myModal">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <!-- Modal body -->
      <div class="modal-body">
      </div>
    </div>
  </div>
</div>