<%=render "layouts/editor_nav"%>
<!--ADMIN LANDING IMAGES INDEX-->
<div class="landin-editor-index">
  <div class="container">
    <div class="section-title">
      <h4 class="landing-index-title text-left">landing images</h4>
      <%=link_to "+ New Image", new_landing_image_path, class:" btn-add-new-index-imge btn btn-primary"%>
    </div>
    <%if @landing_image.empty?%>
        <div class="empty-image-notice-alert">
          <h4 class="empty-image-notice-alert-txt text-center"> No images yet, Do you want to <%=link_to "Create",new_landing_image_path%> a one ?</h4>
        </div>
    <%else%>
    <div class="image-rows">
      <%@landing_image.each do |lm|%>
        <div class="media image-index-media">
          
          <%=link_to landing_image_path(lm.id),:remote => true, data: { target: '#ShowImg', toggle: 'modal' } do%>
            <%=image_tag(lm.photo, class:"index-mainImages", :id => "index-mainImages")%>
          <%end%>
          <div class="media-body">
            <h4 class ="mt-0 index-image-header-txt"><%=lm.header%></h4>
            <p><%=lm.caption%></p>
          </div>
          <div class="index-image-options ml-3 text-center">
            <%=link_to lm, method: :delete do%>
              <h4 class="btn btn-danger index-delete">  Delete</h4>
            <%end%>
            <br>
            <%=link_to "Update", edit_landing_image_path(lm), class:"btn btn-success index-update",:remote => true, data: { target: '#myModal', toggle: 'modal' }%>
          </div>
        </div>
        <%= render "update_modal" %>
        <%= render "view_picture_modal" %>
      <%end%>
    </div> 
    <%end%>
    <%= will_paginate @landing_image %>
  </div>
</div>

