<%=render "layouts/editor_nav"%>
<!--ADMIN LANDING IMAGES NEW-->
<div class="new-image-form">
  <div class="title-header-new-main-image"><h4 class="title-header-new-main-image-text"></h4>Create New Image</div>
  <div class="container">
    
    <div class="new-image-bx">
      <%=form_for :landing_image, url: landing_images_path do |f|%>
        <div class="form-group row">
          <%=f.label :header,class: "col-sm-2 col-form-label"%>
          <div class="col-sm-10">
            <%=f.text_field :header%>
          </div>
        </div>
        
        <div class="form-group row">
          <%=f.label :caption,class: "col-sm-2 col-form-label"%>
          <div class="col-sm-10">
            <%=f.text_area :caption, :rows => "8"%>
          </div>
        </div>
        
        <div class="form-group">
          <%=f.file_field :photo, :required => "true"%>
        </div>
        
        <div class="form-group">
          <%=f.submit "Create",class:"new-image-create-button btn btn-primary"%>
        </div>
      <%end%>
    </div>
  </div>  
</div>

