<!--><h2> <%#= resource_name.to_s.humanize %></h2>

<!--<%#= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>-->
<!--  <%#= devise_error_messages! %>-->

<!--  <div class="field">-->
<!--    <%#= f.label :email %><br />-->
<!--    <%#= f.email_field :email, autofocus: true, autocomplete: "email" %>-->
<!--  </div>-->

<!--  <#% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>-->
<!--    <div>Currently waiting confirmation for: <%#= resource.unconfirmed_email %></div>-->
<!--  <%# end %>-->

<!--  <div class="field">-->
<!--    <%#= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />-->
<!--    <%#= f.password_field :password, autocomplete: "new-password" %>-->
<!--    <%# if @minimum_password_length %>-->
<!--      <br />-->
<!--      <em><%#= @minimum_password_length %> characters minimum</em>-->
<!--    <%# end %>-->
<!--  </div>-->

<!--  <div class="field">-->
<!--    <%#= f.label :password_confirmation %><br />-->
<!--    <%#= f.password_field :password_confirmation, autocomplete: "new-password" %>-->
<!--  </div>-->

<!--  <div class="field">-->
<!--    <%#= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />-->
<!--    <%#= f.password_field :current_password, autocomplete: "current-password" %>-->
<!--  </div>-->
  
  
<!--  <div class="feild">-->
    <%#=file_field :portfolio_image%>
<!--  </div>-->

<!--  <div class="actions">-->
<!--    <%#= f.submit "Update" %>-->
<!--  </div>-->
<!--<%# end %>-->




<%=render "layouts/editor_nav"%>
<div class="errors">
  <%=devise_error_messages! %>
</div>
<div class="container account-settings-container">
  <div class="account_settings_section">
    <div class="account-setting-box">
      <div class="account-settings-header">
        <h5 class="account-settings-header-text">Edit your account<%#= resource_name.to_s.humanize %></h5>
      </div>
      
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <div class="row">
        <div class="col-md-8">
          <div class="account-settings-left-bx">
            <div class="field">
              <%= f.label :email %><br />
              <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
            </div>
          
            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
            <% end %>
          
            <div class="field">
              <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
              <%= f.password_field :password, autocomplete: "new-password" %>
              <% if @minimum_password_length %>
                <br />
                <em><%= @minimum_password_length %> characters minimum</em>
              <% end %>
            </div>
          
            <div class="field">
              <%= f.label :password_confirmation %><br />
              <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
            </div>
          
            <div class="field">
              <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
              <%= f.password_field :current_password, autocomplete: "current-password" %>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="feild">
            <%=text_field :portfolio_image%>
          </div>
        </div>
      </div>
    </div>
      <div class="actions acc-settings-actions">
        <ul class="acc-settings-action-ul">
          <li class="acc-settings-li">
            <%= f.submit "Update", class:"btn-success acc-settings-update-btn btn-block"%>
          </li>
          <li class="acc-settings-li">
            <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class:"btn-danger btn-block acc-settings-delete-acc-btn" %>
          </li>
          
          <li class="acc-settings-li go-bk-acc-li">
            <%= link_to "Back", :back, class: "go-back-acc-settings btn-primary" %>
          </li>
        </ul>
      </div>
    <%end%>
  </div>
</div>