<%=render "layouts/editor_nav"%>
<div id="login-out-sec">
  <div class="log-out-in-bx">
    <div class="-log-out-in-header text-center">
      <h4 class="log-out-in-header-txt">Sign up</h4>
    </div>
    <div class="log-out-in-frm">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>
      
        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", required: true %>
        </div>
      
        <div class="field">
          <%= f.label :password %>
          <% if @minimum_password_length %>
          <p class="em-class">(<%= @minimum_password_length %> characters minimum)</p>
          <% end %>
          <%= f.password_field :password, autocomplete: "new-password", required: true %>
        </div>
      
        <div class="field">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password", required: true %>
        </div>
      
        <div class="actions sign-up-out-action">
          <%= f.submit "Sign up", class:"action-text btn-block btn-success" %>
        </div>
      <% end %>
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>