<%=render "layouts/editor_nav"%>
<div id="login-out-sec">
  <div class="log-out-in-bx">
    <div class="-log-out-in-header text-center">
      <h6 class="log-out-in-header-txt">Change your password</h6>
    </div>
    <div class="log-out-in-frm">
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
        <%= devise_error_messages! %>
        <%= f.hidden_field :reset_password_token %>
      
        <div class="field">
          <%= f.label :password, "New password" %><br />
          <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em><br />
          <% end %>
          <%= f.password_field :password, autofocus: true, autocomplete: "new-password", required:true %>
        </div>
      
        <div class="field">
          <%= f.label :password_confirmation, "Confirm new password" %><br />
          <%= f.password_field :password_confirmation, autocomplete: "off" , required:true%>
        </div>
      
        <div class="actions sign-up-out-action">
          <%= f.submit "Change my password", class:"action-text btn-block btn-success"  %>
        </div>
      <% end %>
      <div class="action-links text-center">
        <%= render "devise/shared/links" %>
      </div>
      
    </div>
  </div>
</div>