
<%=render "layouts/editor_nav"%>
<div class="errors">
  <%=devise_error_messages! %>
</div>
<div id="login-out-sec">
  <div class="log-out-in-bx">
    <div class="-log-out-in-header text-center">
      <h6 class="log-out-in-header-txt">Forgot your password?</h6>
    </div>
    <div class="log-out-in-frm">
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= devise_error_messages! %>
      
        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", required: true %>
        </div>
      
        <div class="actions sign-up-out-action">
          <%= f.submit "send instructions" , class:"action-text btn-block btn-success"%>
        </div>
      <% end %>
      <div class="action-links text-center">
        <%= render "devise/shared/links" %>
      </div>
      
    </div>
  </div>
</div>