<div class="mobile-navigations">
  <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>
  <%=render "layouts/mob_nav"%>
</div>

<div class="all-width">
 <%=render "layouts/side_menu"%>
  <div class="abt-me" id="abt-me-sec">
    <div class="abt-me-sec-bx">
      <div class="row">
        <div class="col">
          <div class="abt-me-bx-head">
            <h3 class="abt-head-text">
              It All Started with Picture
            </h3>
            <hr class="abt-header-rule">
          </div>
          <div class="abt-explain">
            <p class="explain-me-txt">
            Hey, thanks for stopping by. My name’s Liza Henderson and I’m a Art Director & 
            Photographer based in the San Francisco where I make cool things for agencies and 
            brands around globe. If you like my work then don’t hesitate to reach out.
            <br><br>
            But firstly it’s about jaw dropping, awe inspiring, surprising and well composed stories told through the lens of the beholder. Make sure you look through my portfolios and have a chat with me about your next project.
            </p>
          </div>
          
          
          <div class="reviews">
            <div class="review-btn">
              <h4 class="review-btn-txt"> <%=link_to "Recent Photoshoots",photoshoots_path%></h4>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="pro-img">
            <%=image_tag("profile.jpg", class: "img-fluid")%>
          </div>
        </div>
      </div>
    </div>
  </div> 
</div>

<script>
  function openNav() {
    document.getElementById("mynavigation").style.height = "100%";
  }
  
  function closeNav() {
    document.getElementById("mynavigation").style.height = "0%";
  }
</script>