<%=render "layouts/side_menu"%>
<div class="mobile-navigations">
  <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>
  <%=render "layouts/mob_nav"%>
</div>

<div class="convinced-head-section" id= "contact-sec">
  <div class="row no-gutters">
    <div class="col left-rev-col">
    <!-- reviews-->
      <%=render "layouts/rev_corsuel"%>
    </div>
    <!--end of-->
  
    <div class="col right-contact-col">
      <div class="contact-bx">
        
        <div class="convinced-header">
          <h4 class="convinced-header-text">
               Convinced ?
          </h4>
          <hr class="abt-header-rule">
          <h5 class="concinced-explain">
              Talk to me for your next project !
          </h5>
          
        </div>
        <div class="contacts">
          <h5 class="email">email@email.com</h5>
          <h5 class="phone">+ 44 74 405 192</h5>
        </div>
        <div class="social-again">
          <ul class="-social-men-ul">
           <li class="-social-men-li">
              <i class="fa fa-facebook-official logs-to-out-abt" aria-hidden="true"></i>
            </li>
            
            <li class="-social-men-li">
              <i class="fa fa-tumblr-square logs-to-out-abt" aria-hidden="true"></i>
            </li>
            
            <li class="-social-men-li">
              <i class="fa fa-instagram logs-to-out-abt" aria-hidden="true"></i>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>  
</div>

<script>
  function openNav() {
    document.getElementById("mynavigation").style.height = "100%";
  }
  
  function closeNav() {
    document.getElementById("mynavigation").style.height = "0%";
  }
</script>






