<!--<overlays></overlays><overlayss></overlayss>-->
<%=render "layouts/side_menu"%>
<div class="mobile-navigations">
  <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>
  <%=render "layouts/mob_nav"%>
</div>
<div class="section-landing_images">
  <div class="hero-boxx text-center">
     <div class="hero-area" id="page-top">
      <div class="hero-slides owl-carousel owl-theme owl-loaded">
        <div class="owl-stage-outer">
          <div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); transition: all 1s ease 0s; width: 7439.99px;">
            <%@LandingImages.each do |lm|%>
              <div class="owl-item" style="width: 352px; margin-right: 10;">
                <div class="single-hero-slide bg-img slide-background-overlay" style="background-image: url(<%= rails_blob_url(lm.photo) %>)">
                  <div class="container h-100">
                    <div class="row h-100 align-items-end">
                      <div class="col-12">
                        <div class="hero-slides-content">
                          <div class="line"></div>
                          <h3><%=lm.header%></h3>
                          <p class="lm-header-caption"><%=lm.caption%></p>
                        </div>
                      </div>
                    </div> 
                  </div>
                </div>
              </div>
            <%end%>
          </div>
        </div>
      </div> 
    </div>
  </div> 
</div>


<script src="assets/landing_images.js"></script>
<script src="assets/generic.js"></script>
<script>
  function openNav() {
    document.getElementById("mynavigation").style.height = "100%";
  }
  
  function closeNav() {
    document.getElementById("mynavigation").style.height = "0%";
  }
</script>
