<%=render "layouts/side_menu"%>
<div class="mobile-navigations">
  <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>
  <%=render "layouts/mob_nav"%>
</div>
<script src="assets/lightbox.js"></script>

<div class="all-pix-alsx" id="all-pix-als-secx">
  <%@albums.each do |album|%>
    <div class="none-gutterss album-gap " >
      <%(album.pictures).each_with_index do |pic, index| %>
        <div class="phot-itm pic-item<%=index+= 0%>">
          <%=link_to((pic),class: "img-album-grid-img",data:{lightbox: "pic-"}) do%>
            <%=image_tag((pic), class: "grid-img img-fluid")%> 
          <%end%>
        </div>
      <%end%>
    </div>
  <%end%>
</div>

<script>
  function openNav() {
    document.getElementById("mynavigation").style.height = "100%";
  }
  
  function closeNav() {
    document.getElementById("mynavigation").style.height = "0%";
  }
</script>