<!--ADMIN ALBUMS SLIDESHOW POPUP MODAL-->
<div id="album_pic_slideshow" class="modal album_pic_slideshow-modal">
  <span class="close cursor album_pic_slideshow_close" onclick="closeModal()">&times;</span>
  <div class="album_pic_slideshow-modal-content ">
    <%@album.pictures.each_with_index do |picture, index|%>
      <div class="mySlides ">
        <%=image_tag(picture,class: "modal-image-slide img-fluid")%>
      </div>  
    <%end%>
  </div>
  <!-- Next/previous controls -->
  <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
  <a class="next" onclick="plusSlides(1)">&#10095;</a>
</div>