<%=render "layouts/editor_nav"%>
<!--ADMIN ALBUMS INDEX-->
<div class="landin-editor-index">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-title">
          <h4 class="landing-index-title text-left">Albums</h4>
          <%=link_to "+ New Album", new_album_path, class:" btn-add-new-index-imge btn btn-primary"%>
        </div>
        <%if @album.empty?%>
            <div class="empty-image-notice-alert">
              <h4 class="empty-image-notice-alert-txt text-center"> No Albums yet, Do you want to <%=link_to "Create",new_album_path%> a one ?</h4>
            </div>
        <%else%>
        <div class="album-display-container">
        <div class="row">
          <%@album.each do |ps|%>
            <div class="col-sm-12 col-xs-12 col-md-3 col-lg-3 col-xl-3">
              
              <div class="card" >
                <%=link_to(image_tag(ps.pictures.last.variant(resize: "275x250!").processed, class: "img-fluid image-album-cover card-img-top"),ps)%> <!--setting first img as defualt image and link to its album-->
                <div class="card-body">
                  <p class="card-text"><%=ps.title%></p>
                  <p class="card-text"><%=ps.shooting_date%></p>
                </div>
              </div>
            </div>
          <%end%>
          </div>
        </div>
        <%end%>
     <%#= render "albums/new_album_modal" %>
      <%= will_paginate @album %>
      </div>
    </div>
  </div>
</div>


