<%=render "layouts/editor_nav"%>
<!--ADMIN ALBUMS NEW-->
<div class="container album-edit-container">
  <div class="albums-edit-bx">
    <div class="edit_album_header-title">
      <h5 class="edit-album-header-title-text text-left">Create an album</h5>
    </div> 
    <div class="upload-notice">
      <h5 class="upload-notice-txt">To get best benifit of photoshoot page, please upload minimum 5 pictures or increment  minumium pictures by 4. (ie 5, 9 ,13,17.. etc)  </h5>
    </div>
      <div class="row">
        <div class="col-md-12 col-lg-12 col-xl-12">
          <div class="new-image-bx">
            <%=form_for :album, url: albums_path do |f|%>
              <div class="col-md-12">
                <div class="form-group edit-album-frm-grp">
                <%=f.text_field :title, :placeholder => "Album Title", :required => true%>
                <%=f.text_area :picture_caption, :placeholder => "Say something about this album..", :rows =>"2"%>  
                </div>
              </div>
              
              <div class="row -adit-album-other-opts-row">
                <div class="col-md-3">
                  <div class="date-edit-date">
                    <h6 class="select-date">
                      <%=f.date_field :shooting_date%>
                    </h6>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="location">
                    <h6 class="select-location">
                      <%=f.text_field :location,:placeholder => "Where did you took pictures?"%>
                    </h6>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="add-pics text-right"><%=f.file_field :pictures,multiple: true, :required => true, :id => "pictureShoot_pictures"%></div>
                </div>
                <div class="col-md-3">
                  <div class="album-edit-frm-buttons text-right">
                    <%=f.submit "Save", class: "btn-primary edit-album-opt-btn-primary"%>
                  <%=link_to "Discard", albums_path, class:"btn-danger edit-album-opt-btn-btn"%>
                  </div>
                  
                </div>
              </div>
          </div>
        </div>
        <div class="col-md-12 col-lg-12 col-xl-12">
          <hr class="file-choose-underline">
            <div id="image-holder" class="row">
             <!--preview uploading images here-->  
            </div>
        </div>
        
        <%end%>
      </div>
  </div>
</div>
<script src="assets/albums_upload_preview.js"></script>