<%=render "layouts/editor_nav"%>
<!--ADMIN ALBUMS SHOW-->
<div class="show-uploaded-album-images">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="section-title">
          <h4 class="landing-index-title text-left">Album :<%=@album.title%></h4>
          <ul class="album-ul-opts">
           <li class="album-opts-btns"><%=link_to "- go back", albums_path, class:" btn-album-bk album-opt-bttns btn btn-primary"%></li>
            <%=link_to @album, method: :delete do%>
              <li class="album-opts-btns"></li><h4 class=" btn-album-del album-opt-bttns btn btn-danger">- Delete Album</h4>
            <%end%>
            
            <li class="album-opts-btns"><%=link_to "- Add Pictures/edit Album", edit_album_path(@album), class:" btn-album-add-mre album-opt-bttns btn btn-success"%></li>
          </ul>
        </div>
      </div>
      <div class="col-md-12">
        <div class="row">
          <%@album.pictures.each_with_index do |picture, index|%>
            <div class="col-md-3">
              <div class="album-shw-bx text-center ">
               <%=image_tag(picture,class:"album-shw-img over-shadow cursor",:onclick => "openModal(); currentSlide(#{index+=1})" )%> 
              <div class="picture-option text-right">
                  <%=link_to  del_picture_album_url(picture.id),method: :delete,data: { confirm: 'Are you sure?' }  do%>
                    <i class="fa fa-trash-o al-pic-del" aria-hidden="true"></i>
                  <%end%>
                </div>
              </div>
            </div>
          <%end%>
        </div>
      </div>
    </div>
  </div>
</div>
<%=render "albums/album_pic_viewer_modal_slideshow"%>










<script>
function openModal() {
  document.getElementById('album_pic_slideshow').style.display = "block";
}

function closeModal() {
  document.getElementById('album_pic_slideshow').style.display = "none";
}

var slideIndex = 1;
showSlides(slideIndex);

function plusSlides(n) {
  showSlides(slideIndex += n);
}

function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  
  
  if (n > slides.length) {slideIndex = 1}
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
  }
  
  slides[slideIndex-1].style.display = "block";
  
}
</script>