<!--ADMIN DASHBOARD TO ALBUMS-->

<div class="row">
  <%if !@edit_albums.empty?%>
  <%@edit_albums.each do |al|%>
      <div class="col-md-3 col-lg-3 col-xl-3">
        <div class="card" >
          <%=link_to album_path(al.id)do%>
            <%=image_tag(al.pictures.last.variant(resize: "275x250!").processed, class: "img-fluid image-album-cover card-img-top")%>
            <div class="card-body">
              <p class="card-text"><%=al.title%></p>
              <p class="card-text"><%=al.shooting_date%></p>
            </div>
          <%end%>
        </div>
      </div>
    <%end%>
  <%end%>
</div>
<div class="pagi">
  <%=will_paginate @edit_albums%>
</div>

