<!--ADMIN DASHBOARD TO LANDING IMAGES-->
<div class="row">
  <%@edit_landings.each do |lm|%>
    <div class="col-md-3 col-lg-3 col-xl-3">
      <%=link_to landing_image_path(lm.id),:remote => true, data: { target: '#ShowImg', toggle: 'modal' } do%>
        <%=image_tag(lm.photo, class:"edit-dash-img img-fluid", :id => "index-mainImages")%>
      <%end%>
    </div>
   <%end%>
</div>
<div class="pagi">
  <%=will_paginate @edit_landings%>
</div>