<%=render "layouts/editor_nav"%>
<!--ADMIN DASHBOARD-->
<div class="dash-items">
  <div class="container">
    <div class="col-md-12">
      <div class="section-title">
       <h4 class="landing-panel-title text-left">landing images</h4>
       <%=link_to "+ New Image", new_landing_image_path, class:" btn-new-dash btn btn-primary"%>
      </div>
      <%if @edit_landings.empty?%>
        <div class="empty-image-notice-alert">
          <h4 class="empty-image-notice-alert-txt text-center"> No Images yet, Do you want to <%=link_to "Create",new_landing_image_path%> a one ?</h4>
        </div>
      <%else%>
      <div class="dash-landin-images text-center">
        <%=render "landing_imgs_rendere"%>
      </div>
      <%= render "landing_images/view_picture_modal" %>
      <%end%>
    </div>
    
    <div class="col-md-12 albums-col">
      <div class="section-title">
       <h4 class="album-panel-title text-left">Albumbs</h4>
       <%=link_to "+ New Album", new_album_path, class:" btn-new-dash btn btn-primary"%>
      </div>
      <%if @edit_albums.empty?%>
        <div class="notice-alert">
          <h4 class="notice-alert-txt text-center"> No albums yet, Do you want to <%=link_to "Create",new_album_path%> a one ?</h4>
        </div>
      <%else%>
        <div class="dash-album-images text-center">
          <%=render "albums_rendere"%>
        </div>
      <%end%>
    </div>
</div>

