<%=render "layouts/editor_nav"%>
<div id="login-out-sec">
  <div class="log-out-in-bx">
    <div class="-log-out-in-header text-center">
       <h4 class="log-out-in-header-txt">Log in</h4>
    </div>
    <div class="log-out-in-frm">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>
      
        <div class="field">
          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "current-password" %>
        </div>
      
        <% if devise_mapping.rememberable? -%>
          <div class="field">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end -%>
      
        <div class="actions sign-up-out-action">
          <%= f.submit "Log in", class:"action-text btn-block btn-success"  %>
        </div>
      <% end %>
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>