// index
.albums-index,.albums-edit,.albums-new{
  background: #e2e2e2;
  
}
.albums-show{
  background: #e2e2e2;
  overflow-x: hidden;
}

// album-index
.album-display-container{
  margin-top: 50px;
}
.image-album-cover{
  height: 250px;
  width: auto;
  position: relative;
}
//-new-create
.albums-new-bx{
  margin-top: 100px;
}
#pictureShoot_title,#pictureShoot_picture_caption,#pictureShoot_shooting_date,#pictureShoot_location,
#album_title,#album_picture_caption,#album_shooting_date,#album_location{
  width: 100%;
  border-radius: 0;

  padding-left: 5px;
}
#pictureShoot_title,#album_title{
  height: 50px;
  border-top: 0.5px solid gray;
  border-left: 0.5px solid gray;
  border-right: 0.5px solid gray;
  border-bottom: 0.5px solid gray ;
  border-bottom-style: dotted;
}

#pictureShoot_picture_caption,#album_picture_caption{
  resize: none;
  border-top: none;
  border-left: 0.5px solid gray;
  border-right: 0.5px solid gray;
  border-bottom: 0.5px solid gray ;
}

#pictureShoot_shooting_date{
  border: 0.5px solid gray;
  height: 50px;
}

.preview-itm-bx{
width: 200px;
height: 350px;

position:relative;
padding:5px;
}



//album-show

.show-uploaded-album-images{
  margin-top: 100px;
}

.album-ul-opts{
  display: flex;
    list-style: none;
    margin-top: -42px;
    float: right;
    margin-left: 0;
    padding-left: 0;
}


.album-opts-btns{
  padding-right: 5px;
}
.album-opt-bttns{
  border-radius: 0;
}
.album-shw-bx{
  
  margin-bottom: 15px;
}

.album-shw-img{
 width: 100%;
 height: 300px;
 position: relative;
 
}
.picture-option{
  width: 100%;
  background: #383d41bd;
  height: 50px;
  position: relative;
  z-index: 20;
  bottom: 1;
  margin-top: -50px;
}
.al-pic-del{
  margin-right: 10px;
    margin-top: 10px;
    font-size: xx-large;
    color: white;
}


.albums-edit-bx{
  margin-top: 15px;
}
.upload-notice{
  background: red;
  width: 100%;
}
.upload-notice-txt{
  font-size: 12px;
  padding: 5px;
  color: white;
}
.album-edit-container{
  background: white;
  border: 1px solid gray;
  margin-top: 100px;
  
}
#pictureShoot_location,#album_shooting_date,#album_location{
  width: 100%;
  border-radius: 0;

  
}
#album_title{
  height: 23px;
  border-top: 0.5px solid gray;
  border-left: 0.5px solid gray;
  border-right: 0.5px solid gray;
  border-bottom: 0.5px solid gray ;
  border-bottom-style: dotted;
}
#album_picture_caption{
  resize: none;
  border-top: none;
  border-left: 0.5px solid gray;
  border-right: 0.5px solid gray;
  border-bottom: 0.5px solid gray ;
}
#album_shooting_date,#album_location{
  border: 0.5px solid gray;
  height: 25px;
}
.date-edit-date{
  padding-left: 15px;
}
.album-edit-frm-buttons{
  padding-right: 15px;
}

.-adit-album-other-opts-row{
  margin-top: -15px;
}

.edit_album_header-title{
  padding-left: 15px;
    margin-top: -10px;
}
.edit-album-frm-grp{
  margin-top: -20px;
}

.edit-album-opt-btn-primary,{
  height: 25px;
  width: 50px;
  border-radius: 0;
  border: 0.5px solid black;
}
.edit-album-opt-btn-btn{
  padding: 2px;
  width: 50px;
  border-radius: 0;
  border: 0.5px solid black;
}
// .edit-album-current-image-album-images{
//   width: 100%;
// }
.display-current-album-images{
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.edit-album-current-image-album-images{
  width: 100%;
  margin-bottom: 15px;
  
}
.edit-album-pictures-show{
  position: relative;
  height: 250px;
  width: 100%;
  
}



// slideshow model

//album-pics-slideshow-modal

/* The Modal (background) */
.album_pic_slideshow-modal {
  display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 10000; /* Sit on top */
    // padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* image slideshow image */
.modal-image-slide {
  margin: auto;
    display: block;
    // width: 100%;
    max-width: 100vw;
    max-height: 100vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-image-slide {
        width: 100%;
    }
}
/* The Close Button */
.album_pic_slideshow_close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
  z-index: 200000;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: blue;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
  z-index: 100010;
  background: gray;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color:  white;
}

.mySlides {
  display: none;
}


img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}