// .owl-carousel .owl-stage-outer {
//     position: relative;
//     overflow: hidden;
//     -webkit-transform: translate3d(0px, 0px, 0px);
//     text-align: -webkit-center;
// }
// .owl-nav disabled{
//   margin-top: 10px;
//   text-align: center;
// }


.editors-dashboard, .landing_images-index{
  background: #e2e2e2;
  overflow: visible !important;
}
.edit-nav{
  position: fixed;
  top: 0;
  margin: 0;
  padding: 0;
  background: #383d41;
  z-index: 1000;
  width: 100%;
  height: 50px;
}
.edit-nav-box{
  padding-top: 10px;
}
.edit-nav-ul{
  list-style: none;
  padding: 0;
  color: white;
  // text-align: center;
  display: inline-flex;
  margin-bottom: 0;
}
.dash-tit{
  float: left;
}
.ul-items{
  float: right;
}
.edit-nav-li{
    margin-left: 20px;
    margin-right: 20px;
}
.edit-nav-li-txt-dash{
  text-align: left;
  color: white;
   font-family: 'Raleway', sans-serif;
}
.edit-nav-li-txt-dash>a{
  color: green;
  font-weight: 900;
}
.edit-nav-li-home,.edit-nav-li-landing,.edit-nav-li-albums{
  text-align: right;
  float: right;
   margin-left: 20px;
    margin-right: 20px;
}
.edit-nav-li-txt{
  color: white;
  font-family: 'Exo 2', sans-serif;
  font-size: 14px;
  margin-bottom: 0;
}

.edit-nav-li-txt>a{
  color: white;
  
} 
.eidt-nav-li-text-logout>a {
  color: red;
  
}
//landings editor---------------------------------------------------------------

.dash-items{
  margin-top: 100px;
}

.pagi{
  text-align: center;
  margin-top: 15px;
}

.pagination{
  display: block !important;
}
.section-title{
  font-family: 'Raleway', sans-serif;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase !important;
  background: white;
  border: 1px solid #afaaaa;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  
}

.landing-panel-title, .album-panel-title{
  color: gray;
  padding: 10px;
  
}

.dash-landin-images{
  margin-top: 50px;
}
.edit-dash-img{
  width: 200px;
  height: 300px;
}

.btn-new-dash{
  float: right;
    margin-top: -45px;
    margin-right: 10px;
}

.albums-col{
  margin-top: 50px;
}
.notice-alert{
  
  width: 320px;
  
  position: absolute;
  margin-top: 50px;
  left: 50%;
  transform: translateX(-50%);
}

.empty-image-notice-alert{
   width: 320px;
  
  position: relative;
  margin-top: 50px;
  left: 50%;
  transform: translateX(-50%);
}
.notice-alert-txt{
  background: white;
  border: 1px solid #afaaaa;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: black;
}


.empty-image-notice-alert-txt{
  background: white;
  border: 1px solid #afaaaa;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: black;
}

//landingpages new -------------------------------------------------------------

.new-image-form{
  width: 500px;
  margin-top: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-70%);
  background: white;
  border: 1px solid black;
  border-radius: 10px;
}
  .landing-index-title{
   margin-left: 10px;
    margin-top: 10px; 
  }  
    
  .btn-add-new-index-imge{
    float: right;
    margin-top: -42px;
    margin-right: 10px;
  }  
    
    
.title-header-new-main-image{
  padding: 11px;
  background: darkgray ;
  border-top-right-radius: 11px;
  border-top-left-radius: 11px;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  text-align: left;
  text-transform: uppercase !important;
  font-weight: 900;
}
.title-header-new-main-image-text{
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  text-align: left;
  text-transform: uppercase !important;
  font-weight: 900;
  
  color: black;
}
.new-image-bx{
  margin-top: 20px;
}
#mainImage_header,#mainImage_caption{
  width: 100%;
  border: 1px solid black;
}

//landing--index

.landin-editor-index{
  margin-top: 100px;
}

.image-rows{
  margin-top: 50px;
}



.image-index-media{
  border-bottom: 1px dotted #979797;
  margin-bottom: 15px;
}
.index-mainImages{
  width: 200px;
  height: 300px;
  margin-right: 10px;
}


.index-image-options{
  width: 150px;
  position: relative;
  top: 100px;
  right: 0;
  
}
.index-update{
  padding: 10px;
  margin-top: 20px;
}
.index-delete{
  padding: 10px;
  margin-bottom: 20px;
}

//landin-edit/update
.current-image{
  width: 100%;
  height: 100%;
}
.edit-image{
  width: 100%;
  height: 100%;
  position: relative;
}
#landing_image_caption{
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  resize: none;
  
}
#landing_image_header{
  width: 100%;
  height: 25px;
  padding-right: 10px;
  padding-left: 10px;
}

.edit-image-create-button{
  float: left;
}
.return-to-original{
  float: right;
}

//css modal pop up show image action--------------------------------------------

.css-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 10000; /* Sit on top */
    // padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.css-modal-content {
    margin: auto;
    display: block;
    // width: 100%;
    max-width: 100vw;
    max-height: 100vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}



/* Add Animation */
.css-modal-content {    
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    // top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
    
}

.close:hover,
.close:focus {
    // color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .css-modal-content {
        width: 100%;
    }
}

.dash-album-images{
  margin-top: 20px;
}


/// devise----------------------------------------------------------------------
.registrations-new,.sessions-new,.passwords-new,.registrations-edit{
  background-color: white !important;
  
}


#login-out-sec{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 275px;
  border: 1px solid black;
  background: #d0d0d0;
  
 -webkit-box-shadow: 0px 1px 13px 1px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 1px 13px 1px rgba(0,0,0,0.75);
box-shadow: 0px 1px 13px 1px rgba(0,0,0,0.75);
}

.log-out-in-bx{
  padding: 20px;
}

#rathne_email,#rathne_password,#rathne_password_confirmation,#rathne_current_password{
  width: 100%;
  height: 50px;
}
.sign-up-out-action{
  padding-top: 15px;
  padding-bottom: 20px;
}
.action-text{
  width: 100%;
  background: green;
  border: 1px solid black;
  padding-top: 5px;
  padding-bottom: 5px;
}

.em-class{
  font-size: 12px;
}

.account-settings-container{
  margin-top: 100px;
}

.acc-settings-actions{
  padding-top: 15px;
}

.acc-settings-action-ul{
  list-style-type: none;
    margin-left: 0;
    padding-left: 0;
    display: inline-flex;
}

.acc-settings-li{
  padding-right: 20px;
}


.acc-settings-update-btn,.acc-settings-delete-acc-btn,.go-back-acc-settings{
  padding: 10px;
}

.go-bk-acc-li{
  
   margin-top: 9px;
   
}
.go-back-acc-settings{
  width: 100px;
    padding-bottom: 16px;
    padding-left: 15px;
    padding-right: 15px;
}