.overlay-out{
    background-image: radial-gradient(circle, #000000, #121212, #1e1d1c, #292827, #333432);
    position: absolute;
    // background : black;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    z-index: 1001;
    overflow: hidden;
    display: block;
}


.main-flash {
    background-image: radial-gradient(circle, #000000, #121212, #1e1d1c, #292827, #333432);
    position: absolute;
    // background : black;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    z-index: 1002;
    overflow: hidden;
}
.logo{
    z-index: 1003;
    width: 50%;
    height: 50%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.main-bx{
    position: relative;
    margin: auto;
    
}
.main-flash{
    background: #232020;
    -webkit-animation: fadeinout 10s linear forwards;
    animation: fadeinout 12s linear forwards;
}
@-webkit-keyframes fadeinout {
  0%,100% { opacity: 0; }
  50% { opacity: 1; }
}

@keyframes fadeinout {
  0%,100% { opacity: 0; }
  50% { opacity: 1; }
}


@-webkit-keyframes overlay-out {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

@keyframes overlay-out {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

.overlay-out {
    animation: overlay-out 30s;
    animation-delay: 20s;
    animation-timing-function: ease-out;
}


///navigation menue
.nav-cont{
    position: absolute;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to left, #000000, #121212, #1e1d1c, #292827, #333432);
    color: white;
    height: 100vh!important;
    width: 250px;
    max-width: 433px;
    z-index: 1000;
    left: 0;
}


.nav-ul{
    list-style: none;
    padding: 0;
}

.-nav-items{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
   
}

.comp-header-txt{
    font-family: 'Rajdhani', sans-serif;
    font-size: 78px;
}
.comp-sub-header-txt{
    font-family: 'Exo 2', sans-serif;
    font-size: 16px;
    margin-top: -30px;
    font-weight: 100;
    text-transform: uppercase!important;
    letter-spacing: 9px;
    width: auto;
    margin-left: 18px;
 
}
.header-logs{
    position: relative;
    top: 0;
}
.social-ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline-flex;
}
.social-li{
    padding: 10px;
}
.social{
    font-size: 20px;
}
.nav-ul-li-txt{
    font-family: 'Exo 2', sans-serif;
    font-size: 16px;
    color: white !important;
    text-transform: uppercase !important;
}
.nav-ul{
    padding-top: 25px;
}

.hero-area {
    
    background-color: #232323;
    position: relative;
    z-index: 1;
    overflow: hidden;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.owl-carousel.owl-loaded {
    display: block;
}

.owl-carousel {
    display: none;
    width: 100%;
    -webkit-tap-highlight-color: transparent;
    position: relative;
    z-index: 1;
}
.owl-carousel .owl-stage-outer {
    position: relative;
    overflow: hidden;
    -webkit-transform: translate3d(0px, 0px, 0px);
       
}
.owl-carousel .owl-stage {
    position: relative;
    -ms-touch-action: pan-Y;
}

.owl-carousel .owl-item {
    position: relative;
    min-height: 1px;
    float: left;
    -webkit-backface-visibility: hidden;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.owl-item{
  margin-right: 0px !important;
}
.hero-slides .single-hero-slide {
    height:  -webkit-fill-available;
    position: relative;
    z-index: 1;
    -webkit-transition-duration: 800ms;
    transition-duration: 800ms;
    overflow: visible;
    cursor: pointer;
    
}

.slide-background-overlay {
    position: relative;
    z-index: 1;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60%;
}

// .bg-img {
//     background-position: center center;
//     background-size: cover;
//     background-repeat: no-repeat;
//     height: 100vh!important;
//     // border-right: 10px solid black;
    
// }
.align-items-end {
    -webkit-box-align: end!important;
    -ms-flex-align: end!important;
    align-items: flex-end!important;
}

.hero-slides .single-hero-slide .hero-slides-content {
    position: relative;
    z-index: 1;
    -webkit-transform: translateY(75%);
    transform: translateY(75%);
    -webkit-transition-duration: 800ms;
    transition-duration: 800ms;
    bottom: 0;
}

.hero-slides .single-hero-slide .hero-slides-content .line {
    width: 100px;
    height: 1px;
    background-color: #ffffff;
    margin-bottom: 30px;
    display: block;
}

.hero-slides .single-hero-slide .hero-slides-content h3 {  // header
    color: black;
    font-weight: 100;
    font-family: 'Rajdhani', sans-serif;
    // background: #e50914;
    // padding: 15px;
    // position: relative;
    
}

.hero-slides .single-hero-slide .hero-slides-content p { //caption
    color: #ffffff;
    margin-bottom: 0;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    margin-top: 140px;
}

.hero-slides .single-hero-slide:hover .hero-slides-content {
  -webkit-transform: translateY(0%);
  transform: translateY(0%); 
 
}
.hero-slides .single-hero-slide:hover p {
  margin-top: 40px; 
  
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .hero-slides .single-hero-slide {
      height: 800px; } 
  
}


@media only screen and (min-width: 768px) and (max-width: 991px) {
    .hero-slides .single-hero-slide {
      height: 700px; } 
    
}

@media only screen and (max-width: 767px) {
    .hero-slides .single-hero-slide {
      height: 550px; } 
  
}


.owl-prev {
   display: none!important;
}
.disabled {
   display: none !important;
}

.chew-scroll{
  top: 90%;
    left: 50%;
    position: absolute;
   
}
/// cheveron animation

.chevron {
  position: absolute;
  width: 28px;
  height: 8px;
  opacity: 0;
  transform: scale3d(0.5, 0.5, 0.5);
  animation: move 3s ease-out infinite;
}

.chevron:first-child {
  animation: move 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
  animation: move 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
  content: ' ';
  position: absolute;
  top: 0;
  height: 100%;
  width: 51%;
  background: #fff;
}

.chevron:before {
  left: 0;
  transform: skew(0deg, 30deg);
}

.chevron:after {
  right: 0;
  width: 50%;
  transform: skew(0deg, -30deg);
}

@keyframes move {
  25% {
    opacity: 1;

  }
  33% {
    opacity: 1;
    transform: translateY(30px);
  }
  67% {
    opacity: 1;
    transform: translateY(40px);
  }
  100% {
    opacity: 0;
    transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
  }
}