


.abt-head-text{
   font-family: 'Exo 2', sans-serif;
    font-size: 14px;
    color: white;
}

.abt-header-rule{
  width: 100%;
  background-color: red;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  
}
.explain-me-txt{
  font-family: 'Exo 2', sans-serif;
    font-size: 14px;
    color: white;
}

.review-btn-txt {
    font-family: 'Exo 2', sans-serif;
    font-size: 14px;
    color: white;
    border: 1px solid red;
    padding: 5px;
    width: 250px;
    text-align: center;
    text-decoration: none;
}
.review-btn-txt>a {
  
    color: white;
    
    
}
.review-btn-txt>a:hover {
  
    color: white;
    text-decoration: none;
    
}
.review-btn-txt:hover {
  background: red;
  color: white;
  cursor: pointer;
  
}
// photoshoots

#all-pix-als-secx{
  margin-left: 20%;
 
  
}

.none-gutterss{
  
  width: 100%;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  // grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
  // grid-template-rows: min-content 1fr;
  // grid-column-gap: 5px;
  // grid-row-gap: 5px;
  
  // grid-auto-rows: minmax(250px, 400px);
  // grid-row: minmax(auto,auto);
  
  
}


.phot-itm{
  // background: red;
  border: 1px solid black;
  object-fit: cover;
  object-position: 100% 0;
  
}



.pic-item0{
  grid-column: 1/3;
  grid-row: 1/3;
  // grid-row: minmax(min-content, max-content);
 
}

.pic-item1{
  grid-column: 3;
  grid-row: 1/1;
}



.grid-img{
  // width: 100%;
  // height: 100%;
  object-fit: cover;
  width: 100%;
  
  height: 100%;
}

// limiting displaying images for each album to balance view
.phot-itm:nth-of-type(1n+22) {display: none;} 




// contact



#contact-sec{
  // float: left;
  margin-left: 20%;
  

  
}
.contact-bx{
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  
}

.convinced-header-text{
   font-family: 'Exo 2', sans-serif;
    font-size: 20px;
    color: black;
    font-weight: 900;
}


.concinced-explain{
  font-family: 'Exo 2', sans-serif;
    font-size: 14px;
    color: black;
    margin-top: 10px;
}

.email, .phone {
  font-family: 'Exo 2', sans-serif;
    font-size: 14px;
    color: black;
}

.right-contact-col{
  background: #b1b1b1;
 height: 100vh;
}


// review corsuel

.cor-bx{
  top: 50%;
  margin-left: 15px;
  margin-right: 15px;
  position: relative;
  transform: translateY(-50%);
  
  height: 50%;
  // background: white;
}

//
.vert .carousel-item-next.carousel-item-left,
.vert .carousel-item-prev.carousel-item-right {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.vert .carousel-item-next,
.vert .active.carousel-item-right {
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100% 0);
}

.vert .carousel-item-prev,
.vert .active.carousel-item-left {
-webkit-transform: translate3d(0,-100%, 0);
        transform: translate3d(0,-100%, 0);
}

.avt-rev-img{
  width: 15%;
}
.rev-star{
  color:  red;
}
.header-star-topic{
  color: white;
   font-family: 'Exo 2', sans-serif;
    font-size: 16px;
}

.sub-txt-rev-star{
  color: white;
   font-family: 'Exo 2', sans-serif;
    font-size: 12px;
}

.carousel-control-next{
  position: absolute!important;
  top: 50 !important;
  left: 50% !important;
  transform: translate(-50%, -50%);
  height: 50px!important;
    margin-top: -50px!important;
}

.carousel-control-prev{
  position: absolute!important;
  bottom: 100% !important;
  left: 50% !important;
  transform: translate(-50%, -50%);
  height: 50px!important;
    // padding-top: 50px!important;
    margin-top: 65% !important;
}

.carousel {
    position: relative!important;
    top: 50%!important;
    transform: translateY(-50%)!important;
}