.body .landing_images-new{
  background: gray !important;
}

body {
  height: 100vh;
  background: currentColor !important;
}
.pages-about{
  background: currentColor !important;
}
.pages-photoshoots, .pages-about {
  overflow-X: hidden ;
}
.pages-home{
  overflow-X: hidden ;
  overflow-Y : hidden;
}

//mobile-navigation-nav bar
.mobile-navigations{
    z-index: 100000000;
    position: fixed;
    color: red;
    left: 10px;
}


.mob-nav-bar-top {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-y: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.mob-nav-bar-top a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.mob-nav-bar-top a:hover, .mob-nav-bar-top a:focus {
  color: #f1f1f1;
}

.mob-nav-bar-top .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}


// side menue
.-men-header  {
  position: fixed;
    top: 0;
    left: 0;
    width: 20%;
    height: 100vh;
    color: #000;
    z-index: 9;
    transition: transform .5s,background-color .5s;
    
}
#men-header{
  background-color: rgba(17,17,17,1);
  box-shadow: 0 0 12px rgba(0,0,0,.09);
    background-image: none;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    
}

.logo-header{
  padding-top: 50px;
}
.about-men-log{
  width: 50%;
}

.-men-itm-bx{
  text-align: center;
  
}

.-men-items-txt{
  font-family: 'Exo 2', sans-serif;
  font-size: 14px;
  color: white;
}
.-men-items-txt>a {
   font-family: 'Exo 2', sans-serif;
  font-size: 14px;
  color: white;
}

.-men-items-txt>a:hover {
  text-decoration: none;
  color: white;
}

.-men-itm-bx{
  top: 50%;
    position: absolute;
    left: 50%;
    transform: translate(-50%,-50%);
}

.-men-item{
  padding-top: 10px;
  padding-bottom: 10px;
}

.-social-men-ul{
  list-style-type: none;
  margin-left: 0;
  padding-left: 0; 
  display: inline-flex;
}
.logs-to-out-abt{
  color: white;
  padding: 5px;
}

.-footer-comp{
  font-family: 'Exo 2', sans-serif;
    font-size: 14px;
    color: white;
    
    position: absolute;
    -webkit-transform: translateY(-50%);
    transform: translate(-50%,-50%);
    top: 90%;
    left: 50%;
    width: 100%;
}
.power-devider{
  width: 50%;
  background-color: white;
}
.power{
  font-family: 'Exo 2', sans-serif;
    font-size: 10px;
    color: white;
}


@media (max-width: 319px) {
 .-men-header,#men-header  {
    display: none;
  }
  .mobile-navigations{
    display: block;
  }
  
  .hero-boxx{
    width: 100%;
    margin-left: 0;
  }
  .section-landing_images{
    height: 100vh !important;
  }
  .bg-img {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh!important;
  }
  
  
  .footer-mob-{
    padding-top: 25px;
  }
  .mob-footer-d-dwn{
    padding-top: 120px !important;
    font-size: 10px !important;
  }
  
  #all-pix-als-secx {
    margin-left: 0 !important; 
    min-height: 100vh;
    width: 100%;
  }
  
  #abt-me-sec{
    margin-left: 0 !important; 
    min-height: 100vh;
    width: 100%;
  }
  
  .abt-me-sec-bx{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .pro-img{
    display: none;
  }
  
  #contact-sec{
    background: currentColor;
    margin-left: 0 !important;
    width: 100%;
  }
  
  
  
  
  
}

@media (min-width: 320px)and (max-width: 767px) {
  .-men-header,#men-header  {
    display: none;
  }
  
  .mobile-navigations{
    display: block;
  }
  
  .hero-boxx{
    width: 100%;
    margin-left: 0;
    height: 100vh !important;
  }
  
  .bg-img {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh!important;
  }
  
   .mob-footer-d-dwn{
    padding-top: 120px !important;
    font-size: 10px !important;
  }
   #all-pix-als-secx {
    margin-left: 0 !important; 
    min-height: 100vh;
    width: 100%;
  }
  
  #abt-me-sec{
    margin-left: 0 !important; 
    min-height: 100vh;
    width: 100%;
  }
  
  .abt-me-sec-bx{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .pro-img{
    display: none;
  }
  
  #contact-sec{
   background: currentColor;
    margin-left: 0 !important;
    width: 100%;
  }
  
}

@media (min-width: 768px) and (max-width: 991px) { 
  .-men-header,#men-header  {
    display: block;
  }
  .mobile-navigations{
    display: none;
  }
  .hero-boxx{
    width: 100%;
    margin-left: 20%;
  }
  
  .bg-img {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh!important;
  }
  
  #contact-sec{
    background: currentColor;
    margin-left: 20% !important;
    
  }
  
  .pro-img{
    display: block;
  }
  
  
  #abt-me-sec{
    margin-left: 0 !important; 
    min-height: 100vh;
    width: 100%;
  }
  
  .abt-me-sec-bx{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-30%, -50%);
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .-men-header,#men-header  {
    display: block;
  }
  .mobile-navigations{
    display: none;
  }
   .hero-boxx{
    width: 100%;
    margin-left: 20%;
  }
  
  .bg-img {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh!important;
  }
  #abt-me-sec{
    margin-left: 20% !important; 
    min-height: 100vh;
    
  }
  
  .abt-me-sec-bx{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-30%, -50%);
  }
  
  #contact-sec{
    background: currentColor;
    margin-left: 20% !important;
    
  }
  
  .pro-img{
    display: block;
  }
}

@media (min-width: 1200px) { 
  .-men-header,#men-header  {
    display: block;
  }
  .mobile-navigations{
    display: none;
  }
  
   .hero-boxx{
    width: 100%;
    margin-left: 20%;
  }
  
  .bg-img {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh!important;
  }
  
  #abt-me-sec{
    margin-left: 20% !important; 
    min-height: 100vh;
    width: 100%;
  }
  
  .abt-me-sec-bx{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-30%, -50%);
  }
  
  #contact-sec{
    background: currentColor;
    margin-left: 20% !important;
   
  }
  
  .pro-img{
    display: block;
  }
}




