<div class="edit-nav">
  <div class="edit-nav-box ">
    <div class="container">
      <div class="dash-tit"><h3 class= "edit-nav-li-txt-dash"><%=link_to "Dashboard", dashboard_path%></h3></div>
      <div class="ul-items">
        <ul class="edit-nav-ul ">
          
          <li class="edit-nav-li-home text-right"><h3 class= "edit-nav-li-txt"><%=link_to "Home", root_path%></h3></li>
          <li class="edit-nav-li-landing text-right"><h3 class= "edit-nav-li-txt"><%=link_to "Landing Images", landing_images_path%></h3></li>
          <li class="edit-nav-li-albums text-right"><h3 class= "edit-nav-li-txt"><%=link_to "Albums", albums_path%> </h3></li>
          <li class="edit-nav-li-albums text-right"><h3 class= "edit-nav-li-txt"><%=link_to "Account Mangement", edit_rathne_registration_path%> </h3></li>
          <%if rathne_signed_in?%>
            <li class="edit-nav-li-albums text-right"><h3 class= "edit-nav-li-txt eidt-nav-li-text-logout"><%= link_to "Log out", destroy_rathne_session_path, method: :delete %></h3></li>
          <%end%>
          
        </ul>
      </div>
      
    </div>
  </div>
</div>