<div class="nav-border" id="reveal_nav">
  <div class="reveal-nav-contents text-center">
    <ul class="reveal-nav-ul">
     
      <li class="reveal-nav-li">
        <i class="fa fa-facebook-official logs-to-out" aria-hidden="true"></i>
      </li>
      
      <li class="reveal-nav-li">
        <i class="fa fa-tumblr-square logs-to-out" aria-hidden="true"></i>
      </li>
      
      <li class="reveal-nav-li">
        <i class="fa fa-instagram logs-to-out" aria-hidden="true"></i>
      </li>
      
      
    </ul>
  </div>
</div> 
