<div class="mob-nav-bar-top" id ="mynavigation">
  
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <div class="overlay-content">
    <h3 class="-men-items-txt mob--men-itm-txt"><%=link_to "Home", root_path%></h3>
    <h3 class="-men-items-txt mob--men-itm-txt"><%=link_to "About", about_path%> </h3>
    <h3 class="-men-items-txt mob--men-itm-txt"><%=link_to "PhotoShoots", photoshoots_path%> </h3>
    <!--<div class="-men-item">-->
    <h3 class="-men-items-txt mob--men-itm-txt"><%=link_to "Contact me",contact_path%>  </h3>
    <!--</div>-->
    
    <div class="footer-social text-center footer-mob-">
      <ul class="-social-men-ul">
       <li class="-social-men-li">
          <i class="fa fa-facebook-official logs-to-out-abt" aria-hidden="true"></i>
        </li>
        
        <li class="-social-men-li">
          <i class="fa fa-tumblr-square logs-to-out-abt" aria-hidden="true"></i>
        </li>
        
        <li class="-social-men-li">
          <i class="fa fa-instagram logs-to-out-abt" aria-hidden="true"></i>
        </li>
      </ul>
    </div>
    
    <!--<div class="-footer-comp text-center mob-footer-d-dwn footer-mob-">-->
    <!--  <p>&copy; 2019 B&J Photography<p>-->
    <!--    <hr class="power-devider">-->
    <!--  <p class="power">1611</p>  -->
    <!--</div>-->
  </div>
  
  
</div>