<div class="nav-cont" id="mainNav">
  
  <div class="-nav-items">
    <div class="header-logs text-center">
    <ul class="social-ul">
      <li class="social-li"><i class="fa fa-twitter social" aria-hidden="true"></i></li>
      <li class="social-li"><i class="fa fa-tumblr social" aria-hidden="true"></i></li>
      <li class="social-li"><i class="fa fa-instagram social" aria-hidden="true"></i></li>
    </ul>
  </div>
    <div class="comp-header text-center">
      <span><h3 class="comp-header-txt text-center"> B & J</h3></span>
      <span><h5 class="comp-sub-header-txt text-center">photography</h5></span>
    </div>
    
    
    <div class="nv-bx ">
    
    <div class="nv-items text-center">
      <ul class="nav-ul">
        <li class="nav-ul-il nav-item">
          <a class="navbar-link js-scroll-trigger" href="#page-top"> <h3 class="nav-ul-li-txt"> home</h3></a>
        </li>
        <li class="nav-ul-il nav-item">
           <a class="nav-link js-scroll-trigger" href="#about"><h3 class="nav-ul-li-txt">About</h3></a>
        </li>
        <li class="nav-ul-il nav-item">
            <a class="nav-link js-scroll-trigger" href="#Photoshoots"><h3 class="nav-ul-li-txt">Photoshoots</h3></a>
        </li>
        <li class="nav-ul-il nav-item">
           <a class="nav-link js-scroll-trigger" href="#Contact"><h3 class="nav-ul-li-txt">Contact</h3></a>
        </li>
        
      </ul>
    </div>
  </div>
  </div>
</div>