
<div class="cor-bx tex-center">
  <div id="carouselExampleControls" class="carousel vert slide" data-ride="carousel" data-interval="900">
    
    <div class="carousel-inner">
      <div class="carousel-item active">
        <ul class="list-unstyled">
          <li class="media">
            <%=image_tag("u1.png", class:"avt-rev-img image mr-3")%>
            <div class="media-body">
              <h5 class="mt-0 mb-1 header-star-topic">
                Amazing Photographer
              </h5>
              <div class="stars">
                <i class="fa fa-star rev-star" aria-hidden="true"></i>
                <i class="fa fa-star rev-star" aria-hidden="true"></i>
                <i class="fa fa-star rev-star" aria-hidden="true"></i>
                <i class="fa fa-star rev-star" aria-hidden="true"></i>
                <i class="fa fa-star rev-star" aria-hidden="true"></i>
              </div>
              
              <p class="sub-txt-rev-star text-left">
                This site definitely  appeals to the average person because the layout
              is so  simple  but very  VERY  effective.
              </p>
            </div>
          </li>
          <br><br>
          <li class="media">
            <%=image_tag("u2.png", class:"avt-rev-img image mr-3")%>
            <div class="media-body">
              <h5 class="mt-0 mb-1 header-star-topic">
                Amazing Photographer
              </h5>
              <div class="stars">
                <i class="fa fa-star rev-star" aria-hidden="true"></i>
                <i class="fa fa-star rev-star" aria-hidden="true"></i>
                <i class="fa fa-star rev-star" aria-hidden="true"></i>
                <i class="fa fa-star rev-star" aria-hidden="true"></i>
                <i class="fa fa-star rev-star" aria-hidden="true"></i>
              </div>
              
              <p class="sub-txt-rev-star text-left">
                This site definitely  appeals to the average person because the layout
              is so  simple  but very  VERY  effective.
              </p>
            </div>
          </li>
        </ul> 
      </div>
      
      <div class="carousel-item ">
        <ul class="list-unstyled">
          <li class="media">
            <%=image_tag("u3.png", class:"avt-rev-img image mr-3")%>
            <div class="media-body">
              <h5 class="mt-0 mb-1 header-star-topic">
                Amazing Photographer
              </h5>
              <div class="stars">
                <i class="fa fa-star rev-star" aria-hidden="true"></i>
                <i class="fa fa-star rev-star" aria-hidden="true"></i>
                <i class="fa fa-star rev-star" aria-hidden="true"></i>
                <i class="fa fa-star rev-star" aria-hidden="true"></i>
                <i class="fa fa-star rev-star" aria-hidden="true"></i>
              </div>
              
              <p class="sub-txt-rev-star text-left">
                This site definitely  appeals to the average person because the layout
              is so  simple  but very  VERY  effective.
              </p>
            </div>
          </li>
          <br><br>
          <li class="media">
            <%=image_tag("u1.png", class:"avt-rev-img image mr-3")%>
            <div class="media-body">
              <h5 class="mt-0 mb-1 header-star-topic">
                Amazing Photographer
              </h5>
              <div class="stars">
                <i class="fa fa-star rev-star" aria-hidden="true"></i>
                <i class="fa fa-star rev-star" aria-hidden="true"></i>
                <i class="fa fa-star rev-star" aria-hidden="true"></i>
                <i class="fa fa-star rev-star" aria-hidden="true"></i>
                <i class="fa fa-star rev-star" aria-hidden="true"></i>
              </div>
              
              <p class="sub-txt-rev-star text-left">
                This site definitely  appeals to the average person because the layout
              is so  simple  but very  VERY  effective.
              </p>
            </div>
          </li>
        </ul> 
      </div>
    </div>
    
    
    <!--<a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">-->
    <!--    <span ><i class="fa fa-long-arrow-up" aria-hidden="true"></i></span>-->
    <!--</a>-->
    <%=link_to "#carouselExampleControls",class:"carousel-control-next",data:{slide: "next"} do%>
      <i class="fa fa-long-arrow-up" aria-hidden="true"></i>
    <%end%>
    <%=link_to "#carouselExampleControls",class:"carousel-control-prev",data:{slide: "prev"} do%>
      <i class="fa fa-long-arrow-down" aria-hidden="true"></i>
    <%end%>
    <!--<a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">-->
    <!--  <span><i class="fa fa-long-arrow-down" aria-hidden="true"></i></span>-->
    <!--</a>-->
  </div>
</div>


<script>
  $('.carousel').carousel({
   interval: 5000
})
</script>






















