<!--side menue black /desktop-->
<div class="-men-header deak header-menu " id= "men-header">
  <div class="logo-header text-center">
    <%=image_tag("big-log.svg", class: "about-men-log")%>
  </div>
  <div class="-men-itm-bx">
    <div class="-men-item">
      <h3 class="-men-items-txt"><%=link_to "Home", root_path%></h3>
    </div>
    
    <div class="-men-item">
      <h3 class="-men-items-txt"><%=link_to "About", about_path%> </h3>
    </div>
    
    <div class="-men-item">
      <h3 class="-men-items-txt"><%=link_to "PhotoShoots", photoshoots_path%> </h3>
    </div>
    
    <div class="-men-item">
      <h3 class="-men-items-txt"><%=link_to "Contact",contact_path%>  </h3>
    </div>
    
    <div class="footer-social text-center">
      <ul class="-social-men-ul">
       <li class="-social-men-li">
          <i class="fa fa-facebook-official logs-to-out-abt" aria-hidden="true"></i>
        </li>
        
        <li class="-social-men-li">
          <i class="fa fa-tumblr-square logs-to-out-abt" aria-hidden="true"></i>
        </li>
        
        <li class="-social-men-li">
          <i class="fa fa-instagram logs-to-out-abt" aria-hidden="true"></i>
        </li>
      </ul>
    </div>
  </div>
  
  <div class="-footer-comp text-center">
    <p>&copy; 2019 B&J Photography<p>
      <hr class="power-devider">
    <p class="power">1611</p>  
  </div>
</div>
<!--end of side menue black /desktop-->