<!DOCTYPE html>
<html>
  <head>
    <%= favicon_link_tag 'favicon.ico' %>
    <title>B & J photography</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Rajdhani:700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Exo+2" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>

  <body>
    
    <%= content_tag :body, class: "#{controller_name}-#{action_name}", :id => "" do %>
        <!-- set background colors for pages -->
    <% end %>
    
    <%= yield %>
    
    
     <!--bottom-error-notification--> <div class="container">
        <% if notice%>
        <div id="notice_wrapper">
         <i class="fa fa-check-circle-o notice-correct" aria-hidden="true"></i>
         <p class= "notice">  <%=notice%></p>
        </div>
        <%elsif alert%>
         <div id="error_wrapper">
          <i class="fa fa-exclamation-circle notice-error" aria-hidden="true"></i>
          <p class= "alert"> <%=alert%></p>
        </div>
      <%end%>
      </div> 
    <!--end of --> 
    <!--<script src="assets/jquery.easing.min.js"></script>-->
    <!--<script src="assets/scrolling-nav.js"></script>-->
   
  </body>
</html>
